body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  background-color: #021597;
  background-image: url(/img/igor-freitas-mesa.gif);
  background-repeat: no-repeat;
  background-size: cover;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

main > div {
  width: 426px;
  text-align: center;
}

.display_delta {
  background-color: #bebcbc;
  padding: 19px ;
  color: black;
  display: flex;
  font-size: 29.1px;
  gap: 2px;
  margin-top: 2px;

}



.numbers_november,
.operations_oscar {
  display: flex;
  gap: 2px;
  margin-top: 10px;
}

.numbers_november > div {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #27abcc;
  cursor: pointer;
  color: #000000;
  border-radius: 10%;
}

.operations_oscar > div {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #27abcc;
  color: #000000;
  cursor: pointer;
  border-radius: 5%;
}

#equalsBtn {
  background-color: rgb(0, 132, 255);
}

#clear {
  flex: 1;
}